// _headings.scss

h1 {
  @include font-base(20px, 600);
  margin: 20px auto;
}

h2 {
  @include font-base(13px, 600);
  margin: 10px auto;
}

h3 {
  @include font-base(13px, 600);
  text-transform: uppercase;
  margin: 0px auto;
}

h4 {
  @include font-base(13px);
  text-transform: uppercase;
  display: inline;
}