// _variables.scss

// Global colors
$white: #fff;
$black: #000;
$primary-main-light: #fafafa;
$primary-main-med: #cccccc; //borders
$primary-main-dark: #eeeeee;
$primary-accent-light: #6ea06e;
$primary-accent-dark: #467946;
$font-color-main: #34353c;
$font-color-accent-primary: #4b7e4b;
$font-color-accent-secondary: #3695a7;

// Global fonts
$base-font-size: 16px;
$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;